<h1>Division list</h1>

<p>Here are all your divisions:</p>

<ul>
  <% @divisions.each do |division| %>
  <li><a href="/divisions/<%= division.id() %>"><%= division.name %></a></li>
  <% end %>
</ul>

<p>Add a new division:</p>

<form action='/divisions' method='post'>
  <label for='name'>Name: </label>
  <input id='name' name='name' type='text'>

  <button type="submit">Add division</button>
</form>
